.table {
  padding: 10px;
  border: dashed;
}

.th {
  padding: 10px;
  text-align: left;
}

.th {
  padding: 10px;
  text-align: left;
  font-weight: bold;
}

.td {
  padding: 10px;
  text-align: left;
  font-style: italic;
}

a:link {
  color: #d74;
}

a:visited {
  color:#d74;
}