.App {
  text-align: center;
  background: skyblue;
}

.button {
  background-color: white;
  color: rgb(30, 30, 30);
  border: none;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 15px;
}

.lecture-table {
  display: flex;
  justify-content: center;
}

.hr {
  border-color: black;
}